body {
    background: url("images/headphones_hero_1.jpg");
    max-width: 1000px;
    margin: 0 auto;
    overflow: auto;
}

li, a {
    font-family: sans-serif;
    color:#FFFFFF;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding: 30px 10%;  
}
.logo {
    cursor: pointer;
}

.menu li {
    display: inline-block;
    padding: 0px 20px;
}

.menu li a:hover {
    color: #FF6565;    
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 637px;
    height: 313px;
    position: fixed;
    top: 50%;  
}

p, h1 {
    margin-bottom: 35px;
    color:#FFFFFF
}